{% extends 'base.html' %}

{% block content %}

<section class="container-lg my-3 my-md-6 d-flex flex-column flex-md-row">
    <div class="flex-item-equal mb-2 text-center text-md-left">
        <p class="alt-lead text-gray f3 pr-0 pr-md-4">
        <h3 class="text-center text-gray mb-3">Continue to Sponsors</h3>
        <div class="d-flex flex-justify-center ">
        <a title="GitHub" class="socialaccount_provider github btn btn-large my-2" href="https://github.com/login/oauth/authorize?scope=user:email public_repo&client_id={{ client_id }}">
        <img src="https://prod-asgard-static.s3.us-east-1.amazonaws.com/dashboard/images/github-icon.svg" class="octicon mr-2" alt="GitHub" height="18">
        Sign in with GitHub
        </a>
    </div>
    <div class="text-small text-center text-muted mt-3">

Trouble signing in?

<a href="mailto:support@deepsource.io">Contact support</a></div></div>
</section>
<section>
    
        {% if repos %}
        {% for repo in repos %}
        {{repo.name}} - <br/>
        {% endfor %}
        {% endif %}
</section>
{% endblock %}